:root {

}
body {
  background-color: #bdbdb9
}
nav {
  display: grid;
  grid-template-columns: 1fr;
}

nav ul li {
  display: none;
  text-decoration: none;
}

nav ul li.isExpanded {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover, nav ul li a:focus {
  color: white;
}

nav::before {
  font-family: FontAwesome;
  content: '\f0c9';
  font-size: 4em;
}

/* Desktop */
@media only screen and (min-width: 750px) {
  nav::before {
    display: none;
  }

  nav ul li {
    display: block;
  }
}

